.modal {
  display: flex;
  justify-content: center;
  padding: 2rem 4rem;
  margin: 2rem 15rem;
  background: transparent;
  background-color: #b8b5b533;
  border-radius: 20px;
  overflow-y: hidden;
  .signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 90vh;
    .img {
      width: 700px;
      img {
        border-radius: 25px;
        width: 100%;
      }
    }

    .signup-card {
      width: 500px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;

      mat-form-field {
        padding-left: 20px;
        width: 100%;

        .buttonSubmit {
          display: flex;
          justify-content: center;
          .submit-button {
            width: 60%;
            padding: 1rem 0.8rem;
            margin-top: 15px;
            background: #14a44d;
            border-radius: 8px;
            color: white;
            font-size: 1rem;
          }
        }

        .field {
          margin-bottom: 15px;

          label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            span {
              color: red;
              margin-left: 2px;
            }
          }

          input[type="text"],
          input[type="email"],
          input[type="tel"],
          input[type="password"] {
            width: 400px;
            padding: 1rem;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.15s ease-in-out;

            &:focus {
              outline: none;
              border-color: #007bff;
            }
          }

          .error-message {
            color: #dc3545;
            font-size: 12px;
            margin-top: 5px;
          }
        }
      }
    }
  }

  .signup-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    h2 {
      text-align: center;
      font-size: 2.2rem;
      padding: 0.5rem;
    }
  }

  .login-link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      font-size: 1.3rem;
      padding: 1rem;
      text-decoration: none;
      color: #007bff;
      transition: color 0.15s ease-in-out;
      cursor: pointer;

      &:hover {
        background: #f4f6f8;
      }
    }
  }
}

.loginDiv {
  display: flex;
  justify-content: center;
  background: grey;
  margin-bottom: 2rem;
  .loginButton {
    background: orange;
  }
}
