<section class="bookNow">
  <mat-vertical-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="First name - Last name"
            formControlName="firstCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            [disabled]="!isFormValid(firstFormGroup)"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fill out your Number</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="Phone Number"
            formControlName="secondCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            [disabled]="!isFormValid(secondFormGroup)"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Fill out your Email</ng-template>
        <mat-form-field>
          <input
            matInput
            placeholder="xlayer@gmail.com"
            formControlName="thirdCtrl"
            required
          />
        </mat-form-field>
        <div>
          <button
            mat-button
            matStepperNext
            [disabled]="!isFormValid(thirdFormGroup)"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="fifthFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Select:</ng-template>
        <div class="space">
          <h5>Child</h5>
          <span class="quantity">
            <span
              class="material-symbols-outlined"
              id="childRemove"
              (click)="decreaseChildQuantity()"
            >
              remove
            </span>
            <span>{{ childQuantity }}</span>
            <span
              class="material-symbols-outlined"
              id="childAdd"
              (click)="increaseChildQuantity()"
            >
              add
            </span>
          </span>
          <h5>Adult</h5>

          <span class="quantity">
            <span
              class="material-symbols-outlined"
              id="adultRemove"
              (click)="decreaseAdultQuantity()"
            >
              remove
            </span>
            <span>{{ adultQuantity }}</span>
            <span
              class="material-symbols-outlined"
              id="adultAdd"
              (click)="increaseAdultQuantity()"
            >
              add
            </span>
          </span>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      You are now done.
      <div class="snack">
        <button mat-stroked-button (click)="snackBar()">Next</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</section>
