
  <!-- <app-nav-bar></app-nav-bar> -->


<section class="forgotStyle">

<div *ngIf="showForgotPassword" class="forgotPassword">
  <h2>Forgot Password</h2>
  <p>Please enter your email address below to receive a password reset link.</p>
  <form (ngSubmit)="sendResetLink()">
    <div class="group">
      <label for="email">Email address</label>
      <input type="email" id="email" name="email" [(ngModel)]="email" required>
    </div>
    <div class="groupButton">
      <button type="submit">Send Reset Link</button>
    </div>
  </form>
</div>

<div *ngIf="showOTPForm" class="otpForm">
  <h2>OTP Verification</h2>
  <p>Please enter the OTP sent to your registered email or phone number.</p>
  <form (ngSubmit)="verifyOTP()">
    <div class="group">
      <label for="otp">Enter OTP</label>
      <input type="text" id="otp" name="otp" [(ngModel)]="otp" maxlength="6" required>
    </div>
    <div class="groupButton">
      <button type="submit">Verify OTP</button>
    </div>
  </form>
</div>

<div *ngIf="showChangePasswordForm" class="changePassword">
  <h2>Change Password</h2>
  <form (ngSubmit)="changePassword()">
  
    <div class="group">
      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
    </div>
    <div class="group">
      <label for="confirmPassword">Confirm New Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
    </div>
    <div class="groupButton">
      <button type="submit" (click)="dialogBox()">Change Password</button>
    </div>
  </form>
</div>

</section>