 <section class="gridDetails">
  <div class="images flex">
    <div class="mainImage">
      <img [src]="datas?.images[1]?.link" alt="Main Image" />
    </div>
    <div class="innerDiv flex-reverse">
      <img [src]="datas?.images[0]?.link" alt="Image 2" />
      <img [src]="datas?.images[2]?.link" alt="Image 3" />
    </div>
  </div>

  <div class="detailsHeading">
    <h1>{{ datas.name }}</h1>
    <span>
      <h3>{{ datas.location }}</h3>
      <span>{{datas.rating}}</span>
    </span>

    <p>{{ datas.description }}</p>
    
    <div>
      <div style="display: flex; justify-content: space-around">
        <span>Adult: {{ datas.entry_fee.adult }}</span>
        <span>Child: {{ datas.entry_fee.child }}</span>
      </div>
      <span>Visiting hours</span>
      <div>
        Monday: {{ datas.visiting_hours.monday }}
      </div>
      <div>
        Tuesday: {{ datas.visiting_hours.tuesday }}
      </div>
      <div>
        Wednesday: {{ datas.visiting_hours.wednesday }}
      </div>
      <div>
        Thursday: {{ datas.visiting_hours.thursday }}
      </div>
      <div>
        Friday: {{ datas.visiting_hours.friday }}
      </div>
      <div>
        Saturday: {{ datas.visiting_hours.saturday }}
      </div>
      <div>
        Sunday: {{ datas.visiting_hours.sunday }}
      </div>
    </div>
    
    <div style="display: flex; justify-content: center">
      <button mat-button class="btn" [routerLink]="['/booknow']" routerLinkActive="router-link-active">
        Book Now
      </button>
    </div>
    <br />
  </div>
</section> 

