<app-nav-bar></app-nav-bar>
<section class="gridDetails">
  <div class="images flex">
    <div class="mainImage">
      <img [src]="datas?.images[1]?.link" alt="Main Image" />
    </div>
    <div class="innerDiv">
      <img [src]="datas?.images[0]?.link" alt="Image 2" />
      <img [src]="datas?.images[2]?.link" alt="Image 3" />
    </div>
  </div>

  <div class="detailsHeading">
    <h1>{{ datas.name }}</h1>
    <span class="allign">
      <span class="material-symbols-outlined"> location_on </span>
      <h3>
        {{ datas.location }}
        <div class="district">
          District:
          {{ datas.district }}
        </div>
      </h3>
    </span>
    <div>
      <span class="category">Category: {{ datas.category }}</span>
    </div>
    <p>{{ datas.description }}</p>

    <div class="taggingSpan">
      <h4>Entry Fee:</h4>
      <div class="ticket">
        <span class="btnNot">
          Adult:
          <h2>{{ datas.entry_fee.adult }}</h2>
        </span>
        <span class="btnNot"
          >Child:
          <h2>
            {{ datas.entry_fee.child }}
          </h2>
        </span>
      </div>
      <div class="available">
        <h4>Available Capacity:</h4>
        <span class="capacity">{{ datas.available_capacity }}</span>
      </div>
      <div class="hours">
        Available

        <div class="slider-container">
          <button class="arrow left" (click)="scroll(-1)">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <div class="slider">
            <div class="timing" *ngFor="let day of daysOfWeek">
              <span class="day">{{ day }}</span>
              <span>{{ datas.visiting_hours[day.toLowerCase()] }}</span>
            </div>
          </div>
          <button class="arrow right" (click)="scroll(1)">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="hours">
        Selected:

        <div class="slider-container">
          <span
            class="cardBox"
            *ngFor="let date of dates"
            [class.selected]="date.selected"
            (click)="selectDate(date)"
          >
            <span>
              {{ date.month }}
            </span>
            <span>
              {{ date.date }}
            </span>
            <span>
              {{ date.day }}
            </span>
          </span>
        </div>
      </div>
    </div>

    <div class="buttonDiv">
      <button
        mat-button
        class="btn"
        (click)="bookNow(heroId)"
      >
        Book Now
      </button>
    </div>
    <br />
  </div>
</section>
