<!-- login.component.html -->
<div class="modal loginModal">
  <div class="signup-container">
    <div class="img">
      <img src="assets/login.png" alt="img" />
    </div>
    <mat-card class="signup-card">
      <div class="signup">
        <div class="loginDiv">
          <h2 class="login">Login</h2>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" id="email" type="email" required>
            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" id="password" type="password" required>
            <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
              Please enter your password.
            </mat-error>
          </mat-form-field>

          <div class="buttonSubmit">
            <button type="submit" mat-raised-button color="primary" class="submit-button loginButton" [disabled]="loginForm.invalid">
              Login
            </button>
          </div>

          <div class="login-link">
            <span>Don't have an account?</span>
            <a mat-button routerLink="/signup" routerLinkActive="router-link-active">Signup</a>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
</div>
