<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<section class="bg">
  <div class="overlay">
    <div class="bgCenter">
      <h1>Where do you want To go ?</h1>
    </div>

    <form class="">
      <div class="searchSpan">
        <input
          type="search"
          placeholder="Search for a place"
          [formControl]="control"
          [matAutocomplete]="auto"
          class="example-input"
        />
        <button type="submit" (click)="searchItem($event)">Search</button>
      </div>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let search of filteredSearch | async"
          [value]="search.name"
        >
          {{ search.name }}
        </mat-option>
      </mat-autocomplete>
    </form>
  </div>
</section>
