<mat-toolbar class="navBar">
  <span>
    <img src="assets/images.png" alt="img" />
  </span>

  <div class="spaceAround"></div>
  <div class="spacingElement">
    <span class="material-symbols-outlined menubar" (click)="toggleMenu()">
      menu
    </span>

    <button mat-button routerLink="/">Home</button>

    <button mat-button routerLink="/places">Places</button>

    <button mat-button (click)="openDialogSign()">Signup</button>

    <button mat-button (click)="myAccount()">
      <select class="select" (change)="onChange($event)">
        <option value="myStatus">MyStatus</option>
        <option value="profile">Profile </option>
      </select>
    
    </button>
  </div>
</mat-toolbar>
<div class="menuList" [class.open]="isMenuOpen">
  <div class="spaceAround"></div>
  <button mat-button routerLink="/" (click)="closeMenu()">Home</button>
  <hr />
  <button mat-button routerLink="/places" (click)="closeMenu()">Places</button>
  <hr />

  <button mat-button routerLink="/auth">Signup</button>
  <hr />
  {{ loggedUser?.email }}
  <button mat-button (click)="logOut()">Log Out</button>
</div>
