<mat-toolbar class="navBar">
  <span>
    <img src="assets/images.png" alt="img" />
  </span>

  <div class="spaceAround"></div>
  <div class="spacingElement">
    <span class="material-symbols-outlined menubar" (click)="toggleMenu()">
      menu
    </span>

    <button mat-button routerLink="/">Home</button>

    <button mat-button routerLink="/places">Places</button>

    <ng-container *ngIf="!headers">
      <button mat-button (click)="login()" (click)="closeMenu()">Login</button>
    </ng-container>

    <ng-container *ngIf="headers">
      <button mat-button routerLink="/status" (click)="closeMenu()">
        Profile
      </button>
      <button mat-button (click)="onSignOut()" (click)="closeMenu()">
        Logout
      </button>
    </ng-container>
  </div>
</mat-toolbar>
<div class="menuList" [class.open]="isMenuOpen">
  <div class="spaceAround"></div>
  <button mat-button routerLink="/" (click)="closeMenu()">Home</button>
  <hr />
  <button mat-button routerLink="/places" (click)="closeMenu()">Places</button>

  <hr />

  <ng-container *ngIf="!headers">
    <button mat-button (click)="login()" (click)="closeMenu()">Login</button>
  </ng-container>

  <ng-container *ngIf="headers">
    <button mat-button routerLink="/status" (click)="closeMenu()">
      Profile
    </button>
    <button mat-button (click)="onSignOut()" (click)="closeMenu()">
      Logout
    </button>
  </ng-container>
</div>
