.homePageGrid {
  gap: 2rem;
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .box {
    display: flex;

    img {
      border-radius: 20px;
      aspect-ratio: 16 /9;
      padding: 0rem;
      height: 30vh;
      width: 100%;
      object-fit: fill;
      border: 1px solid rgb(0, 0, 0, 0.4);
    }
    .desc {
      padding-top: 1rem;
      padding: 1rem;
      display: flex;
      justify-content: center;
      text-align: justify;
    }
  }
  .head {
    height: 100px;
  }
  .desc {
    height: 5vh;
  }
}
.line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  padding: 1rem;
  margin: 0rem 1rem;
}
@media screen and (max-width: 768px) {
  .homePageGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 850px) {
  .homePageGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .homePageGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .homePageGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.overlayMessage {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}
.Details {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0;
  padding: 0rem;
  button {
    padding: 1rem;
    margin: 1rem;
    color: white;
    background-color: rgb(133, 156, 183);
  }
}
