<app-nav-bar></app-nav-bar>
<div *ngIf="errorMessage;">
  <p class="overlayMessage">{{errorMessage}}</p>
  <img src="assets/five.png" alt="image"/>
</div>

<section class="homePageGrid" onchange="onDistrictChange()">

  
  <div class="box" *ngFor="let data of districtName ? districtList : datas">
    <mat-card>
      <img mat-card-image [src]="data.images[0].link" alt="Photo of place" />
      <mat-card-header>
        <mat-card-title>{{ data.name }}</mat-card-title>
        <mat-card-subtitle>
          <span class="material-symbols-outlined"> distance </span>
          <span>
            {{ data.location }}
          </span>
          <div class="line"></div>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="desc">
        {{ data.description.slice(0, 100) }}
      </mat-card-content>
      <div class="line"></div>
      <mat-card-actions style="display: flex; justify-content: center">
        <button mat-button (click)="onClickPlaces(data._id)">
          <span *ngIf="!loading">Details</span>
          <mat-spinner *ngIf="loading" diameter="32"></mat-spinner>
        </button>
      </mat-card-actions>
    </mat-card>
    <br />
  </div>
</section>
