<app-nav-bar></app-nav-bar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="firstDrawer">
    <div class="status">
      <h5>Places</h5>
    </div>

    <ol>
      <li>
        <button mat-button routerLink="/">Home</button>
      </li>

      <li>
        <button mat-button routerLink="/places">Places</button>
      </li>

      <li>
        Districts:
        <ul *ngFor="let district of displayPlaces">
          <li (click)="onClickDistrict(district.value)">
            {{ district.name }}
          </li>
        </ul>
      </li>
    </ol>
  </mat-drawer>

  <mat-drawer-content class="secondDrawer">
    <div>
      <form (submit)="applyFilter($event)">
        <div class="searchSpan">
          <input
            type="search"
            placeholder="Search..."
            [(ngModel)]="searchQuery"
            name="searchQuery"
          />
          <button type="submit">Search</button>
        </div>
      </form>
    </div>
    <mat-chip-set class="searchStatus">
      <mat-chip (click)="toggleItems(false, false)">
        Total place Booked
      </mat-chip>
      <mat-chip (click)="toggleItems(false, true)"> Upcoming Events </mat-chip>

      <mat-chip (click)="toggleItems(true, false)"> Completed </mat-chip>
    </mat-chip-set>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Order Id">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef>Place Booked</th>
        <td mat-cell *matCellDef="let element">{{ element.place }}</td>
      </ng-container>

      <ng-container matColumnDef="ticket">
        <th mat-header-cell *matHeaderCellDef>Ticket</th>
        <td mat-cell *matCellDef="let element">{{ element.ticket }}</td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef>Download</th>
        <td mat-cell *matCellDef="let element">
          <a
            mat-icon-button
            aria-label="Download"
            href="{{ element.downloadUrl }}"
            download
          >
            <span class="material-symbols-outlined"> download </span>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="checkIn">
        <th mat-header-cell *matHeaderCellDef>Check In</th>
        <td mat-cell *matCellDef="let element">{{ element.checkIn }}</td>
      </ng-container>
      <ng-container matColumnDef="checkOut">
        <th mat-header-cell *matHeaderCellDef>Check out</th>
        <td mat-cell *matCellDef="let element">{{ element.checkOut }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>
