.example-container {
  width: auto;
  height: 100vh;
  background: #eee;

  .firstDrawer {
    scroll-behavior: smooth;

    button {
      font-size: 1.2rem;
      color: rgb(86, 58, 58);
    }

    ol {
      li {
        padding: 0.9rem;
        font-size: 1rem;
        cursor: pointer;

        ol {
          li {
            padding: 0.5rem;
          }
        }

        &:hover {
          font-size: 1.3rem;
        }
      }
    }

    .status {
      padding: 0.5rem;
      height: 10vh;
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: #eee;
      background: rgba(0, 0, 0, 0.5);

      span {
        font-size: 3rem;
      }

      h5 {
        font-size: 1.5rem;
      }
    }
  }

  .secondDrawer {
    .searchSpan {
      margin: 1rem;

      input[type="search"] {
        width: 50%;
        padding: 1rem;
        border-radius: 10px;
      }

      button {
        width: 20%;
        padding: 1rem;
        border-radius: 1rem;
      }
    }

    .searchStatus {
      mat-chip {
        padding: 0.7rem;
      }

      .icon {
        justify-content: space-around;
        text-align: center;
      }
    }

    .secondDrawerSub1 {
      padding: 0 1rem;

      table {
        width: 100%;
        height: 100vh;
      }

      .mat-mdc-form-field {
        font-size: 14px;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .firstDrawer {
    display: none;
  }

  .secondDrawer {
    .searchStatus {
      mat-chip {
        display: flex;
        flex-direction: column;
        width: 25%;
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }
}